# environment
# Never let your secrets goes public
.env

# Jekyll
www/
www-ready/

# Generated images
jekyll-blog/images/ditaa/

# Jekyll artifacts
.sass-cache/
.jekyll-metadata

# Bundler artifacts
jekyll-blog/.bundle/
jekyll-blog/bin/


# Vagrant artifacts and boxes
.vagrant/
.boxes/
tmp


## Notes not for the repository
__note_*__.md
__note_*__.txt

# IDEs
.idea/
