# Virtual machine configuration
BOX_IP=192.168.10.80
BOX_NAME=jekyll
BOX_HOSTNAME=jekyll.mintusers.me
BOX_MEM=512
BOX_CPU=2

# GIT Setup
GIT_NAME="Lakis Lalakis"
GIT_EMAIL="lalakis@protonmail.com"
GITHUB_USER="lalakis"

# Github token
# https://help.github.com/articles/creating-an-access-token-for-command-line-use/
JEKYLL_GITHUB_TOKEN="8277f7..6bb5c5"

